<section class="horizontal-form">

    {{!-- This component shows errors produced by validate() in the component --}}
    {{top-errors errors=errors}}

    <div class="row">
        <div class="col span-6 mb-0">
            <label>Kamatera API Client ID{{field-required}}</label>
            {{#input-or-display editable=true value=cluster.kamateraEngineConfig.apiClientId}}
                {{input type="password" name="apiClientId"
                        classNames="form-control" value=cluster.kamateraEngineConfig.apiClientId}}
            {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
            <label>Kamatera API Secret{{field-required}}</label>
            {{#input-or-display editable=true value=cluster.kamateraEngineConfig.apiSecret}}
                {{input type="password" name="apiSecret"
                        classNames="form-control" value=cluster.kamateraEngineConfig.apiSecret}}
            {{/input-or-display}}
        </div>
    </div>
    <div class="row">
        <div class="col span-6 mb-0">
            <label>Datacenter{{field-required}}</label>
            {{#input-or-display editable=true  value=cluster.kamateraEngineConfig.datacenter}}
                {{input type="text" name="datacenter"
                        class="form-control" value=cluster.kamateraEngineConfig.datacenter
                }}
            {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
            <label>Private Network Name{{field-required}}</label>
            {{#input-or-display editable=true  value=cluster.kamateraEngineConfig.privateNetworkName }}
                {{input type="text" name="privateNetworkName"
                        class="form-control" value=cluster.kamateraEngineConfig.privateNetworkName
                }}
            {{/input-or-display}}
        </div>
    </div>
    <div class="row">
        <div class="col span-6 mb-0">
            <label>SSH Private Key{{field-required}}</label>
            {{#input-or-display editable=true value=cluster.kamateraEngineConfig.sshkeyPrivate}}
                {{input type="password" name="sshkeyPrivate"
                        classNames="form-control" value=cluster.kamateraEngineConfig.sshkeyPrivate}}
            {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
            <label>SSH Public Key{{field-required}}</label>
            {{#input-or-display editable=true value=cluster.kamateraEngineConfig.sshkeyPublic}}
                {{input type="password" name="sshkeyPublic"
                        classNames="form-control" value=cluster.kamateraEngineConfig.sshkeyPublic}}
            {{/input-or-display}}
        </div>
    </div>

    {{!-- This component shows the Create and Cancel buttons --}}
    {{save-cancel save="save" cancel="cancel"}}


</section>